

<div class="sidebar-heading">Carnelian </div>
<div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Projects</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Boards</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Teams</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>

</div>


